---
- name: Update & Upgrade System
  ansible.builtin.package:
    state: latest
  become: yes

- name: install OpenSSH 
  ansible.builtin.package:
    name:
      - openssh-server
    state: present
  become: yes

- name: install ufw
  ansible.builtin.package:
    name: ufw
    state: present
  become: yes
  when: ansible_os_family == "Debian"

- name: install firewalld
  ansible.builtin.package:
    name: firewalld
    state: present
  become: yes
  when: ansible_os_family == "RedHat"

- name: Enable and Run ufw
  ufw:
    state: enabled
  become: yes
  when: ansible_os_family == "Debian"

- name: Enable tcp port for ufw
  ufw:
    rule: allow
    port: "{{ port }}"
    proto: tcp
  become: yes
  when: ansible_os_family == "Debian"

- name: Enable tcp port for firewall-cmd
  ansible.posix.firewalld:
    port: "{{ port }}/tcp"
    permanent: true
    state: enabled
    immediate: true
  become: yes
  when: ansible_os_family == "RedHat"

- name: make .ssh directory
  ansible.builtin.file:
    path: "/home/{{ user }}/.ssh"
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0700"
  become: yes

- name: insert authorized_keys
  ansible.builtin.copy:
    src: ./files/authorized_keys
    dest: "/home/{{ user }}/.ssh/authorized_keys"
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: "0600"
  become: yes

- name: copy sshd_config
  ansible.builtin.template:
    src: ./templates/sshd_config.j2
    dest: /etc/ssh/sshd_config
  notify: Restart ssh
  become: yes

- name: Enable and start sshd
  ansible.builtin.service:
    name: "{{ 'ssh' if ansible_os_family == 'Debian' else 'sshd' }}"
    state: started
    enabled: yes
  become: yes


# sudo apt update done
# sudo apt upgrade done
# install ufw done 
#     enable and run ufw
#     enable {{port}} for tcp
# install OpenSSH done
#     open the ufw ports done
#     ensure sshd is enabled and running done
# mkdir ~/.ssh with perms 700
#     Put authorized_keys in .ssh/ with 600 perms

# Put the sshd_config file in /etc/ssh/
# restart sshd after everything
