---
- name: Update & Upgrade System
  apt:
    update_cache: yes
    upgrade: safe
  become: yes

- name: install ufw and OpenSSH
  apt:
    name: 
      - ufw
      - openssh-server
    state: present
  become: yes

- name: Enable and Run ufw
  ufw:
    state: started
    enabled: yes
  become: yes

- name: Enable tcp port for ufw
  ufw:
    rule: allow
    port: "{{ port }}"
    proto: tcp
  become: yes

- name: make .ssh directory
  ansible.builtin.shell: |
    mkdir -p ~/.ssh && chmod 700 ~/.ssh
  become: yes

- name: insert authorized_keys
  ansible.builtin.copy:
    src: ../files/authorized_keys
    dest: ~/.ssh/authorized_keys
    mode: "0600"
  become: yes

- name: copy sshd_config
  ansible.builtin.template:
    src: ../templates/sshd_config.j2
    dest: /etc/ssh/sshd_config
  become: yes

- name: Enable and Run sshd
  service:
    name: ssh
    state: started
    enabled: yes
  become: yes

- name: restart sshd
  ansible.builtin.service:
    name: sshd
    state: restarted


# sudo apt update done
# sudo apt upgrade done
# install ufw done 
#     enable and run ufw
#     enable {{port}} for tcp
# install OpenSSH done
#     open the ufw ports done
#     ensure sshd is enabled and running done
# mkdir ~/.ssh with perms 700
#     Put authorized_keys in .ssh/ with 600 perms

# Put the sshd_config file in /etc/ssh/
# restart sshd after everything